<form style="padding-right: 5%; padding-left: 5%; ">
	<div class="card" style="width: 100%;margin-top: 2rem;background-color:#edf2f6;border-radius: 10px; height: 70em; " >
		<div class="card-header"><b>Listado de usuario</b></div>
		<div class="card mb-4 mt-4">
			<ul class="nav">
				<button type="button" class="btn-toolbar" (click)="back()">
					<a class="nav-link text-toolbar">
						<span>
							<svg width="20" height="17" viewBox="0 0 14 14" fill="none">
								<path
									d="M11.6667 1H2.33333C1.59695 1 1 1.59695 1 2.33333V11.6667C1 12.403 1.59695 13 2.33333 13H11.6667C12.403 13 13 12.403 13 11.6667V2.33333C13 1.59695 12.403 1 11.6667 1Z"
									stroke="#38E8C6"
									stroke-linecap="round"
									stroke-linejoin="round"
								/>
								<path d="M1 5H13" stroke="#38E8C6" stroke-linecap="round" stroke-linejoin="round" />
								<path d="M5 13V5" stroke="#38E8C6" stroke-linecap="round" stroke-linejoin="round" />
							</svg>
						</span>
						Volver
					</a>
				</button>
			</ul>
		</div>
		<div class="card-body">

            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Tipo Documento</th>
                    <th scope="col">Numero Documento</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Ape. Paterno</th>
                    <th scope="col">Ape. Materno</th>
                    <th scope="col">Acciones</th>
                  </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of libeyUserList; let i = index">
                      <th scope="row">{{ i + 1 }}</th>
                      <td>{{ user.documentTypeId }}</td>
                      <td>{{ user.documentNumber }}</td>
                      <td>{{ user.name }}</td>
                      <td>{{ user.fathersLastName }}</td>
                      <td>{{ user.mothersLastName }}</td>
                      <td class="d-inline-flex p-2">
                        <button type="button" class="btn-toolbar"><a class="nav-link text-toolbar" (click)="edit(user.documentNumber ?? '')">Edi</a></button>
                        <button type="button" class="btn-toolbar"><a class="nav-link text-toolbar" (click)="delete(user.documentNumber ?? '')">Eli</a></button>
                      </td>
                    </tr>
                  </tbody>
              </table>

		</div>
	</div>	
</form>